@import './common/var.css';

/*ii-icon*/
@font-face {
  font-family: 'ii-icon';  /* project id 798036 */
  src: url('//at.alicdn.com/t/font_798036_ylxa0vfwng.eot');
  src: url('//at.alicdn.com/t/font_798036_ylxa0vfwng.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_798036_ylxa0vfwng.woff') format('woff'),
  url('//at.alicdn.com/t/font_798036_ylxa0vfwng.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_798036_ylxa0vfwng.svg#ii-icon') format('svg');
}

.ii-icon {
  position: relative;
  font: normal normal normal 14px/1 "ii-icon";
  font-size: 0.8em;
  text-rendering: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__info {
    color: #fff;
    left: 100%;
    top: -.5em;
    font-size: .5em;
    padding: 0 .3em;
    text-align: center;
    min-width: 1.2em;
    line-height: 1.2;
    position: absolute;
    border-radius: .6em;
    box-sizing: border-box;
    background-color: $red;
    transform: translateX(-50%);
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
  }

  &::before {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}

.ii-icon-arrow::before {
  content: "\E603";
}
.ii-icon-money::before {
  content: "\E671";
}
.ii-icon-settings::before {
  content: "\E604";
}
.ii-icon-search::before {
  content: "\e64c";
}
.ii-icon-success::before {
  content: "\e611";
}
.ii-icon-clear::before {
  content: "\e602";
}
.ii-icon-close::before {
  content: "\e600";
}

