.image-enlargement {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  .bg {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 100%;
    }
  }
}
